body {
  display: flex;
  /*border: 5px solid red;*/
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: #262626;
}

h1 {
  transform: rotate(-8deg);
  color: orange;
}

#counter {
  font-size: 8em;
  margin: 0;
  filter: blur(32px);
  transition: 200ms;
}

h2 {
  color: aqua;
}
