body {
    justify-content: center;
    align-items: center;
}
.content {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}

.floating-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 75px;
    height: 75px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient();
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-btn img{
    width: 35px;
    height: 35px;

}

.floating-btn .return {
    position: absolute;
    background: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 3px;
    line-height: 1.4;
    text-align: left;
    width: 250px;
    transform: translate(-180px, -50%);
    box-shadow: 0 2px 15px rgb(0, 0, 0, 0.2);
    pointer-events: none;
    display: none;
}

.floating-btn:hover .return {
    display: block;
}
